body {
/* border: solid 4px orange; */
}
.spaceArena{
    border: solid 4px black;
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-image: url('https://cutewallpaper.org/21/space-gif-wallpaper/Space-Travel-Animated-Wallpaper-Httpwww.desktopanimated.com-GIF.gif');
    /* background-size: cover; */
}

.uSSAssembly{
    /* border: solid 2px red; */
    border-radius: 50%;
    height: 120px;;
    width: 120px;
    margin-top: 10%;
    color: brown;
}

.nasa{
    border: solid 3px red;
    border-radius: 50%;
    height: 120px;;
    width: 120px;
    margin-top: 10%;
}


.aliens{
    /* border: solid 3px blue; */
    border-radius: 70%;
    height: 120px;
    width: 120px;
    margin-top: 10%;
    color: yellow;
}

.alienShip{
    /* border: solid 3px blue; */
    border-radius: 100%;
    height: 125px;
    width: 125px;
}

.actions{
   border: solid gold;
   margin-top: 120%;
   display: flex;
   height: 100px;
   width: 280px;

}


